@media screen and (max-width: 767px) {
  .Sidebar {
      display: none !important;
  }
}

@media screen and (min-width: 767px) {
  .nav-bar{
    display: none !important;
  }

  .ProView {
    min-width: 1000px;
  }
}
