h1{
    position:relative;
    right:10px;
    font-size: 60px;
    color: black;
  }
  h2{
    position:relative;
    right:10px;
    font-size: 60px;
    color: black;
  }
  hr{
    width:100%;
    height:100%;
    backgroundColor:Black;
  }
  form{
    position: relative;
    font-size: 26;
    padding: 20px;
    position: relative;
    left: 0%;
    width: 100%;
    height: 90%;
  }
  input{
    padding: 10px;
    font-size: inherit;
  }

  input[type = "TPno"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;  
  }
  input[type = "Address"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;  
  }
  input[type = "name"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;  
  }
  
  input[type = "number"]{
    display: block;
    margin-bottom: 25px;
    width: 1000px;
    border: 2px solid black;  
  }
  input[type = "date"]{
    display: block;
    margin-bottom: 25px;
    width: 1000px;
    border: 2px solid black;
  }
  select[name = "select"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black; 
  }
  Button[type = "submit"]{
    display: block;
    width: 40%;
    left: 0%;
  }
  InputGroup[addonType="append"]{
    display: block;
    margin-bottom: 25px;
    width: 280px;
    border: 2px solid black;
  }
  
  